html, address,
blockquote,
 dd, div,
dl, dt, fieldset, form,
frame, frameset,
h1, h2, h3, h4,
h5, h6, noframes,
ol, p, ul, center,
dir, hr, menu, pre   { display: block; }


*   {margin: 0;  padding: 0;  border: 0; }
a   {color: #000;    text-decoration: none;}
h1  {font-size:22px; margin:0px;} 
h2  {font-size:20px; margin:0px;}
h3  {font-size:18px; margin:0px;}
h4  {font-size:16px; margin:0px;}
p   {margin:0;}
img {border:0;}

address{ font-style:normal;}

.clear  {clear: both; font-size: 1px; height: 0.1px;} 
.cflot  {clear: both;} 
.left   {float: left;} 
.right  {float: right;}
.table  {display: table;}
.ml     {margin-left: 10px;}
.mr     {margin-right: 10px;}
.mt     {margin-top: 22px;}
.mb     {margin-bottom: 10px;}
.mall   {margin: 10px;} 
.bold   {font-weight: bold;} 
.primeiro {margin-left: 0px !important;} 
.ultimo {margin-right: 0px !important;} 
.center { text-align: center;}
.peq    {font-size: 11px;}
.grande {font-size: 18px;}
.-dez	{margin-right:-50px;}


     